<div class="row">
  <div class="column col-lg">
    <h1 class="display-4 text-info bg-white"><a routerLink="/">Sweat Dreams Delight Bakery</a></h1>
  </div>
  <div class="column col-sm text-right mt-auto mb-3">
    Products restock every 10 minutes!
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="currentUrl=='/products'">
        <a routerLink="/products" class="nav-link">Pastries</a></li>
      <li class="nav-item" [class.active]="currentUrl=='/checkout'">
        <a routerLink="/checkout" class="nav-link">Cart</a></li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <div class="navbar-brand mx-auto">
      <span *ngIf="this.name !== undefined">Hi, {{this.name}}! </span>
      <span *ngIf="this.funds !== undefined" class="navbar-brand mx-auto"> You have
        {{this.funds | currency}}.</span>
    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a routerLink="" class="nav-link"
                              (click)="this.data.clearLocalUser()">Logout</a></li>
    </ul>
  </div>
</nav>
<br />

